body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

div {
    display: block;
}

section {
    display: block;
}

.dhx_sample-container__widget {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.dhx_sample-container {
    width: 100%;
    text-align: center;
}

.dhx_sample-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1220px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    justify-content: center;
}

[class*="dhx_sample"] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    box-sizing: border-box;
}

.template {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #F7F7F7;
    width: 100%;
    height: 100%;
    border: 1px solid #DFDFDF;
    overflow: hidden;
}

.template span {
    font-weight: 300;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

.template span:not(:last-child) {
    font-weight: 500;
    margin-top: 16px;
}

.template img {
    width: 64px;
    height: 64px;
    pointer-events: none;
    border-radius: 50%;
}